<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.clap = "<%= image_url('clap.png') %>"
  window.modalImage = "<%= image_url('modalImage.png') %>"
  window.search = "<%= image_url('search.png') %>"
</script>

<main id="root"></main>
