.clap-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clap-button {
  width: 55px;
  height: 55px;

  border: 1px solid $green;
  border-radius: 100%;

  background-color: none;
  background-size: contain;

  opacity: 0.7;
  
  outline: none;
  cursor: pointer;

  transition-duration: 0.15s;


  &:hover {
    opacity: 1;
  }

  &:active {
    transform: scale(1.15);
  }
}

.comment-clap {
  width: 45px;
  height: 45px;

  margin-right: 10px;
}

.comment-clap-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.story-clap-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @include min($tablet) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.story-clap {
  margin: 0 8px 0 8px;
}

.clap-total {
  color: $green;
}