.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
}

.header-title {
  font-size: 32px;
  font-weight: bold;
  font-family: $header;

  @include min($tablet) {
    margin-left: 40px;
  }
}

.header-button {
  height: 33px;
  
  font-size: 16px;
  line-height: 33px;
  color: $green;

  cursor: pointer;
  outline: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

.signup {
  border-color: $green;
  border-radius: 4px;
}

.login, .logout {
  border: none;
  background-color: white;
}

.new-button {
  font-size: 16px;

  &.right {
    display: inline;
    margin-right: 10px;

    @include min($tablet) {
      display: none;
    }
  }

  &.left {
    display: none;

    @include min($tablet) {
      display: block;
    }
  }
}

.header-image {
  width: 36px;
  height: 36px;

  padding: 0px 14px;

  border-radius: 100%;
  box-sizing: content-box;
  vertical-align: middle;
}

