.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
  margin-top: 10px;
}

.header-title {
  font-size: 32px;
  font-weight: bold;
  font-family: $header;

  @include min($tablet) {
    margin-left: 40px;
  }
}

.header-button {  
  font-size: 16px;
  color: $green;

  cursor: pointer;
  outline: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

.signup {
  border-color: $green;
  border-radius: 4px;
  padding: 8px 10px;
}

.login, .logout {
  border: none;
  background-color: white;
}

.logout {
  display: none;

  @include min($tablet) {
    display: block;
  }
}

.new-button {
  font-size: 16px;

  &.right {
    height: 30px;
    margin-right: 20px;
    
    img {
      width: 20px;
      opacity: 0.5;
    }

    @include min($tablet) {
      display: none;
    }
  }

  &.left {
    display: none;

    @include min($tablet) {
      display: block;
    }
  }
}

.header-image {
  vertical-align: middle;
  
  width: 36px;
  height: 36px;

  padding: 0px 14px;

  border-radius: 100%;
  box-sizing: content-box;
}

.header-bookmark-icon {
  width: 15px;
  margin-right: 20px;

  opacity: 0.4;
}