.homepage {
  @include min($desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.homepage-right {
  @include min($desktop) {
    width: 30%;
  }

  @include min($bigscreen) {
    width: 35%;
  }
}

.main {

  @include min($tablet) {
    width: 80%;
  }
  
  @include min($desktop) {
    width: 65%;
  }
  
  @include min($bigscreen) {
    width: 60%;
  }
}

.main-index-title {
  font-family: $header;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 35px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  text-align: center;

  @include min($tablet) {
    text-align: left;
  }
}

.main-index-item {
  @include min($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  margin-bottom: 35px;
}

.item-story-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

.item-story-subtitle {
  margin-top: 5px;

  overflow: hidden;

  font-weight: 400px;
  font-size: 18px;
  text-overflow: ellipsis;
  color: rgba(0,0,0,.54);
}

.item-story-author {
  margin-top: 13px;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}

.item-data {
  display: flex;
  color: rgba(0,0,0,.54);
  font-size: 15px;
}

.item-data-dot:after {
  margin-left: 3px;
  content: '\00B7';
}

.item-data-time {
  margin-left: 8px;
}

.main-index-item-img {
  @include min($tablet) {
    width: 30%;

    img {
      width: 100%;
      height: 100%;
      min-height: 115px;
      max-height: 130px;
    }
  }

}

.main-index-item-content {
  margin-bottom: 20px;

  @include min($tablet) {
    width: 60%;
    margin-bottom: 0;
  }
}

.main-index-edit-link {
  display: inline-block;

  padding: 0 10px;
  margin-top: 10px;
  
  font-size: 14px;
  color: $green;

  border: 1px solid $green;
  border-radius: 3px;
}

.recommended-container {
  margin-bottom: 35px;
}

.item-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-button {
  border: none;
  padding: 0;
  width: 16px;
  height: 22px;
  cursor: pointer;
  outline: none;

  img {
    width: 100%;
  }
}