.right-popular {
  display: none;

  @include min($desktop) {
    display: block;
    width: 100%;
    
    &.fixed {
      position: fixed;
      top: 10px;
      right: 10%;
      width: 24%;
    }
  }

  @include min($bigscreen) {
    
    &.fixed {
      width: 18%;
      right: 23.5%;
    }
  }
}

.left-popular {
  display: block;

  @include min($tablet) {
    width: 80%;
  }
  
  @include min($desktop) {
    display: none;
  }
}

.popular-index-item {
  display: flex;
 

  width: 70%;

  margin: 0 auto 35px auto;

  @include min($desktop) {
    justify-content: flex-start;
    width: 100%;
  }
}

.popular-index-item-content {
  max-width: 80%;

  margin-left: 60px;

  @include min($desktop) {
    margin-left: 15px;
  }
}

.popular-index-item-num {
  font-size: 26px;
  font-weight: bold;
  color: rgba(0,0,0,.2);
}

.popular-story-author {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}