.story-form-container {
  @include min($tablet) {
    width: 70%;
    margin: 0 auto;
  }
}

.story-form-author-container {
  display: flex;
  margin-bottom: 40px;
}

.story-form-author-name {
  font-weight: 400;
  font-size: 16px;

  &:hover {
    text-decoration: underline;
  }
}

.story-form-author-draft {
  font-size: 14px;
  color: rgba(0,0,0,.54);
}

.story-form {
  input, textarea {
    display: block;
    padding: 0px 12px;
    margin-bottom: 8px;

    outline: none;
  }
}

.story-form-textarea {
  width: 100%;
  min-height: 200px;

  font-size: 16px;

  border: none;

  resize: none;

  &::placeholder {
    color: rgba(0,0,0,.34);
  }
}

.story-form-title {
  font-size: 30px;

  &::placeholder {
    font-weight: bold;
    color: rgba(0,0,0,0.4);
  }
}

.story-form-subtitle {
  font-size: 22px;

  &::placeholder {
    color: rgba(0,0,0,0.4);
  }
}

.story-form-button {
  float: right;
  margin: 30px 0;
}

.story-preview {
  display: block;
  max-width: 90%;
  max-height: 400px;
  margin: 30px auto 0 auto;
}