.story {
  margin: 0 auto;

  @include min($tablet) {
    max-width: 700px;
  }
}

.user-item {
  display: flex;
}

.user-item-image {
  height: 60px;
  width: 60px;

  margin-right: 15px;

  border-radius: 100%;
}

.user-item-details-container {
  display: flex;
}

.follow-button {
  margin-left: 10px;

  color: #03a87c;

  border-color: #03a87c;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &.followed {
    color: white;
    background-color: #03a87c;
  }
}

.user-item-details-bio {
  font-weight: 300;
  color: rgba(0,0,0,.54);

  margin: 3px 0;
}

.story-title {
  margin-top: 30px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.04;
}

.story-image {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 350px;

  margin-bottom: 20px;

  background-color: lightgrey;
}

.story-subtitle {
  font-weight: 400;
  font-size: 24px;
  color: rgba(0,0,0,.54);

  margin-bottom: 20px;
  margin-top: 10px;
}

.story-body {
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.50;
}