.mobile-tag-container {
  margin-bottom: 10px;

  .tag-link-button {
    padding: 10px 15px;
    margin: 0 10px 20px 10px;

    font-family: $header;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.64);

    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @include min($desktop) {
    display: none;
  }
}

.right-tag-container {
  display: none;

  margin-bottom: 10px;

  .tag-link-button {
    padding: 10px 15px;
    margin: 0 10px 20px 10px;

    font-family: $header;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.64);

    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @include min($tablet) {
    display: block;
  }
}

.tag-main-index {
  @include min($desktop) {

    width: 63%;
  }
}

.tag-links-flex {
  display: flex;
  flex-wrap: wrap;
}