.mobile-tag-container {
  margin-bottom: 10px;

  @include min($desktop) {
    display: none;
  }
}

.right-tag-container {
  display: none;

  margin-bottom: 10px;

  @include min($tablet) {
    display: block;
  }
}

.tag-main-index {
  @include min($desktop) {

    width: 63%;
  }
}

.tag-links-flex {
  display: flex;
  flex-wrap: wrap;
}

.tag-link-button {
  padding: 10px 10px;
  margin: 0 10px 20px 10px;

  font-family: $header;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.84);

  border: 1px solid $titleGrey;
}