@import "mixins";
@import "reset";
@import "vars";

body {
  padding: 10px 20px;
  margin: 0 auto;

  @include min($tablet) {
    width: 85%;
  }
  
  @include min($desktop) {
    width: 55%;
  }
}

.mainpage {
  margin-top: 20px;
}

@import "components/*";
