@import "mixins";
@import "reset";
@import "vars";

body {
  padding: 10px 20px;
  margin: 0 auto;

  @include min($tablet) {
    width: 85%;
  }
  
  @include min($desktop) {
    width: 80%;
  }

  @include min($bigscreen) {
    width: 65%;
  }
}

.mainpage {
  margin-top: 20px;
  margin-bottom: 100px;
}

@import "components/*";
